<h1>Welcome to the Film Festival Management System</h1>

<nav>
  <ul>
    <li><a href="<%= films_path %>">Film Management Dashboard</a></li>
    <li><a href="<%= directors_path %>">Director Management Dashboard</a></li>
  </ul>
</nav>
